#heading {
  color: red;
}

.res-logo {
  width: 100px;
}

.res-name {
  margin: 0;
}

.res-cuisines {
  margin: 0;
}

.res-priceForTwo {
  margin: 0;
}

.nav-items {
  display: flex;
  margin-right: 40px;
  align-items: center;
}

.nav-list-item {
  margin: 10px;
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 10px;

  .res-card-logo {
    width: 200px;
    height: 150px;
  }
}

.top-rated-btn {
  margin: 10px;
  width: 200pxpx;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 300px;
  margin: 10px;
  background-color: #f0f0f0;
}

.search {
  margin: 10px;
}
.search-filter {
  display: flex;
}
