#heading {
  color: red;
}

.res-logo {
  width: 100px;
}

.nav-items {
  display: flex;
  margin-right: 40px;
  align-items: center;
}

.nav-list-item {
  margin: 10px;
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: 200px;
  height: 100%;
  margin: 10px;
  padding: 10px;

  .res-card-logo {
    width: 100%;
    height: 50%;
  }
}
